<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/producthome.css">
    <title>Online Shoping</title>
</head>

<body>
    <%- include('./partials/boot.ejs'); %>
    <%- include('./partials/productHeader.ejs'); %>

            <img class="img" src="/img/sale-bg.jpg" alt="error">
            
            
</body>

</html>
